.contact-box {
    background: #fff;
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: black;
    color: #fff;
}

.container p {
    margin-bottom: 40px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.input-row {
    flex-basis: 45%;
}

.input-group {
    flex-basis: 45%;


}

input {
    width: 100%

}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
}

label {
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;

}

button {
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0 5px 15px 0 rgba(28, 0, 181, 9.3);
}

.contact-left h3 {
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;

}

.contact-right h3 {

    font-weight: 600;
    margin-bottom: 30px;

}


tr td:first-child {
    padding-right: 20px;

}

tr td:first-child {
    padding-top: 20px;

}

.socialmedia {
    width: 100px;

}

