.socialmedia {
    width: 80px;
    padding-left: 10px;
}

div {
    display: block;
}

header div {
    display: inline-flex;
}

@media (max-width: 420px) {
    select {
        width: 140px;
    }

    label {
        font-size: 10px;
    }
    .socialmedia {
        width: 40px;
        padding-left: 5px;
    }
}