.pp {
    width: 100%;
}

.tab {
    display: grid;
    grid-template-columns: repeat(9, 100px);
    grid-gap: 10px;
}

body {
    width: 1080px;
}

@media (max-width: 1080px) {
    .tab {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 200px;
    }
    body {
        width: 600px;
    }
}