.anchor {
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 10px;
    font-family: "Teko", courier, monospace;
}

.response {
    margin-bottom: 10px;
}

#padoru-picture {
    width: 100px;
}