#motor {
    width: 50%;
    display: block;
    margin: 0 auto;
}

#logo {
    width: 100px;
    display: block;
    margin: 0 auto;
}

#schema {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.product-text {
    font-family: "Goldman", "Lucida Sans Unicode", "Arial", "sans-serif";
    text-align: center;
}