body {
    width: 1080px;
    line-height: 150%;
    text-indent: 5px;
    background-image: url("../assets/background.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto;
}

.nousRejoindre {
    margin-left: 10%;
}

.submenu {
    position: absolute;
    top: 50px;
    left: 0;
    color: #aca;
    display: none;
    flex-direction: column;
    z-index: 1;
}

.burger {
    display: none;
}

.menu2 {
    position: fixed;
    flex-direction: column;
    display: none;
    top: 15px;
    left: 60px;
    background-color: rgba(131, 136, 146, 0.5);
}

#burger-picture {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
}

body .burger:hover .menu2 {
    display: flex;
}

.menu2 #submenuForMenu2:hover .submenu {
    display: inline;
    font-weight: bold;
    background-color: rgba(131, 136, 146, 0.5);
    flex-basis: content-box;
    height: 275%;
    top: 48px;
}

nav div:hover .submenu {
    display: flex;
    font-weight: bold;
    background-color: rgba(131, 136, 146, 0.5);
    flex-basis: content-box;
    height: 275%;
    align-items: stretch;
}

main {
    background-color: rgba(131, 90, 119, 0.5);
}

nav {
    font-weight: bold;
    height: 50px;
    display: flex;
    background-color: rgba(131, 136, 146, 0.5);
    font-size: 180%;
}

div {
    display: flex;
    position: relative;
    padding-left: 4px;
    align-items: center;
    flex-grow: 1;
    font-family: "BigShouldersStencilText", "Lucida Sans Unicode", "Arial", "sans-serif";
}

@font-face {
    font-family: Goldman;
    src: url(../assets/fonts/Goldman-Regular.ttf);
}

@font-face {
    font-family: BigShouldersStencilText;
    src: url(../assets/fonts/BigShouldersStencilText-Regular.ttf);
}

@font-face {
    font-family: Teko;
    src: url(../assets/fonts/Teko-Light.ttf);
}

h3 {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 0 10px;
}

h2 {
    text-align: center;
    font-family: "BigShouldersStencilText", "Lucida Sans Unicode", "Arial", "sans-serif";
    border: 4px solid rgb(140, 14, 68);
    border-radius: 25px;
}

h1 {
    font-family: "BigShouldersStencilText", "Lucida Sans Unicode", "Arial", "sans-serif";
}

p {
    margin: 0 30px 30px;
    font-family: "Teko", courier, monospace;
    font-size: 150%;
}

a {
    text-decoration: none;
    color: rgba(50, 125, 95, 0.75);
}

a:visited {
    color: #002645;
}

a:hover {
    color: #090909;
}

@media (max-width: 1080px) {
    .menu {
        display: none;
    }

    .burger {
        display: flex;
    }
}